<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button 
      mat-icon-button 
      aria-label=""
      [matMenuTriggerFor]="menu" 
      #menuTrigger="matMenuTrigger" 
      (click)="menuTrigger.openMenu()">
      <mat-icon class="icon-color">code</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-menu-item routerLink="/view-product">
        <mat-icon>edit_circle</mat-icon> View/Edit Products
      </a>
      <a mat-menu-item routerLink="/create-product">
        <mat-icon>add_circle</mat-icon> Create Product
      </a>
    </mat-menu>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut">
    <div class="user-ct">
      <!-- {{ user.username | slice:0:4 }}&#8230; -->
       {{user?.signInDetails?.loginId}}
      <button mat-button (click)="signOut()">Sign Out</button>
    </div>
  </ng-template>
</amplify-authenticator>

<div *ngIf="authenticated" class="row">
  <div class="column">
    <h2>Add/Edit Item</h2>
    <div class="blue-column">
      <form [formGroup]="createProductForm">
        <mat-form-field appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput placeholder="ID" formControlName="id">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput placeholder="Price" formControlName="price">
        </mat-form-field>
          <button (click)="saveItem()" mat-flat-button>Add Item</button>
        </form>

        <mat-divider></mat-divider>

        <h2>Delete Item</h2>
        <form [formGroup]="deleteProductForm">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" formControlName="id">
          </mat-form-field>
            <button class="delete" (click)="deleteItem()" mat-flat-button>Delete Item</button>
          </form>

    </div>
  </div>

  <div class="butt-row">
    <button (click)="getData()" mat-fab extended aria-label="refresh">
      <mat-icon>refresh</mat-icon>
      Refresh Data
    </button>
  </div>

  <div class="column right-column">
      <mat-card *ngFor="let d of data()">
        <mat-card-content>
          <mat-card-subtitle> Name: {{ d.name }}</mat-card-subtitle>
          <mat-card-subtitle>Price: {{ d.price }}</mat-card-subtitle>
          <mat-card-subtitle>ID: {{d.id}}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
  </div>
</div>





        
