<main class="main">
  <div class="content">

    <div class="left-side">
      <h3>Hello, {{ title }}</h3>
      <p>Congratulations! Your app is running. 🎉</p>
      <p><button (click)="getData()">get data</button></p>
      <p *ngFor="let d of data()"> ID: {{d.id}} - Name: {{ d.name }} - Price: {{ d.price }}</p>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">
      <form [formGroup]="createProductForm">
        <p>
          <label>ID</label>
          <input formControlName="id">
        </p>
        <p>
          <label>Name</label>
          <input formControlName="name">
        </p>
        <p>
          <label>Price</label>
          <input formControlName="price">
        </p>
        <p><button (click)="saveNewItem()">update DB</button></p>
        </form>
    </div>

  </div>
</main>
