@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$cyan-palette,
    // Change theme with one color choice:
    // red, green, yellow, orange, cyan, magenta, 
    typography: Roboto,
    density: 0
  ));
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: black,
  ));
}
body {
    margin: 0;
}
// ----------------------------------
// ----------------------------------
// ----------------------------------
h2 mat-icon {
    margin: 1rem .25rem 0 0;
    padding: .25rem .25rem 0 0;
}
.mat-badge-content {
    margin-left: -.5rem !important;
}


.btn-right {
    float: right;
}

.user-ct {
    position: absolute;
    top: .5rem;
    right: .4rem;
    color: black;
    button {
       background-color: rgba(black, 60%);
    }
}

.icon-color {
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex: 0 0 30rem;
    padding-left: 1rem;
    h2 {
        margin: 0 0 .5rem .5rem;
        &.with-counter {
            margin-top: -1.1rem;
        }
    }
}

h3 {
    margin: 0 !important;
}

.right-column {
    flex-grow: 2; 
}

.input-full-width {
    width: 95%;
}

.subhead {
    font-size: small;
    color: #888;
}

.mat-mdc-card {
    margin: 1rem 1.3rem 0 0;
    border: 1px solid #666 !important;
    border-radius: .5rem !important;
    &:first-of-type {
        margin-top: 0;
    }
}
.mat-mdc-form-field {
    margin: 0 .5rem;
}

mat-divider {
    padding: .5rem 0;
    margin-top: .5rem;
}

button {
    margin: .25rem;
}
.delete {
    background-color: #993300 !important;
    color: white !important;
}