@use '@angular/material' as mat;
:root {
    @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary),
      container-text-color: black,
    ));
}

form {
    padding-bottom: 1rem;
}

.user-ct {
    position: absolute;
    top: .5rem;
    right: .4rem;
    color: black;
    button {
        // color: black !important;
        background-color: rgba(black, .5)
    }
}

.icon-color {
    color: black;
}
body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);  
    margin: 0;
    font-family: Roboto;
}
.butt-row {
    z-index: 1;
    top: 2rem;
    margin-left: 60%;
    position: absolute;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;;
  }
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 1rem;
    h2 {
        margin-bottom: .5rem;
    }
}
.mat-mdc-card {
    margin: 1rem 1.3rem 0 0;
    border: 1px solid #666 !important;
    &:first-of-type {
        margin-top: 0;
    }
}
.mat-mdc-form-field {
    margin: 0 .5rem;
}
button {
    margin: .25rem;
}
.delete {
    background-color: #993300 !important;
    color: white !important;
}


